<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Product</title>
</head>
<body>
  <h1><%=farm.name%></h1>
  <h3>Add A Product</h3>
  <form action="/farms/<%=farm._id%>/products" method="POST">
    <label for="name">Product name</label>
    <input type="text" name="name" id="name" placeholder="product name">
    <label for="price">Price (Unit)</label>
    <input type="number" min="0" name="price" step="0.01" placeholder="product price">
    <label for="category">Select category</label>
    <select name="category">
      <% for(let category of categories) { %>
        <option value="<%= category%>"><%= category%></option>
      <% } %>
    </select>
    <input type="submit" value="submit">
    <a href="/farms/<%=farm._id%>">Back to Farm</a>
  </form>
</body>
</html>